body{
    background: rgb(53,84,255);
background: linear-gradient(0deg, rgba(53,84,255,0.9836309523809523) 61%, rgba(223,6,233,1) 100%);
background-attachment: fixed;
margin: 0;
}
#form{
    width: 400px;
    margin: 20vh auto 0 auto;
    background-color: whitesmoke;
    border-radius: 5px;
    padding: 30px;
}
h1{
    text-align: center;
    color: purple;
}
#form button{
    background-color: purple;
    color: white;
    border-radius: 5px;
    border: 1px solid purple;
    padding: 10px;
    margin: 20px 0;
    width: 100%;
    cursor: pointer;
    font-size: 20px;
}
.input-group{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;

}
.input-group input{
    margin-top: 10px;
    border-radius: 5px;
    padding: 5px;
    border: 1px solid turquoise;
}
input:focus{
    outline: 0;
}